
<style type="text/css">
caption {
font-size: 30;
color: blue;
}
</style>

<table>
<caption> Александр </caption>
<tr><td><img src = "891_Alexander.jpg" align = "left"></td><td>«Судьба благоволит храбрым»</td><td> Для каждого человека он значил что-то своё. Одни видели в нем великого царя и воина, полного амбиций, мужества и свойственного юности высокомерия, ведущего свои войска на многократно превосходящие их числом персидские армии. Другие – сына, отчаянно пытающегося завоевать одобрение сурового, закалённого в битвах отца и перебороть печать материнского наследия. Для своих врагов он стал кошмаром во плоти, полководцем, не проигравшим ни одного сражения, жестоким поработителем, без устали ведущим верных солдат к самым границам мира. Для соратников – провидцем, чьи мечты и деяния пережили столетия, оставив неизгладимый отпечаток на лице земли, и чьё имя эхом прогремело сквозь вечность. Его звали Александр Великий!</td></tr>
</table>

